html, body {
    margin: 0;
    padding: 0;
    background: darkred;
}

h1, p {
   text-align: center;
   
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #f44336;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(255, 94, 94);
  }

#main {
    margin: auto;
    text-align: center;
    width: 50%;
    
}

#about_burgers {
    width: 33vw;
}

#menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu-item {
    width: 20vw;
}

.menu-item img {
    width: 100%;
}